form {
  font-family: "Open Sans", sans-serif;
  a {
    text-transform: uppercase;
  }
  h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  .form--reset-img {
    img {
      border-radius: 50%;
    }
    h4 {
      color: #444444;
      font-size: .95rem;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 1rem;
      margin-top: .5rem;
    }
  }
  .form--reset-logo {
    margin-left: -24px;
  }
  .form--reset-title {
    font-size: .95rem;
    margin-bottom: 1rem;
  }
  .form--redirect {
    a {
      color: #999999;
    }
  }
  input {
    border-radius: .625rem;
    height: 46px !important;
    font-size: .95rem;
    line-height: 46px;
    padding-left: 44px;
    outline: none;
    transition: all 0.4s ease;
    &:focus,
    &:active,
    &:visited {
      outline: none;
      box-shadow: none;
      border-color: #ffb94a;
    }
    &::placeholder {
      color: #cccccc;
    }
  }
  .icon {
    left: 15px;
    top: 57%;
    transform: translateY(-50%);
    svg {
      color: #999999;
    }
    .ic--evelope {
      vertical-align: text-top;
    }
    .ic--lock, .ic--lock-check {
      vertical-align: top;
    }
    .ic--security {
      stroke: #999999;
      stroke-width: .3;
      vertical-align: unset;
    }
  }
  .form_group {
    &.errors {
      input, .error--text {
        border: 1px solid red;
        color: red;
      }
      .error--text {
        border: 0;
      }
    }
    &.passed {
      input, .error--text {
        border: 1px solid #42b983;
        color: #42b983
      }
      .error--text {
        border: 0;
      }
    }
  }
  button {
    background: #ffb94a;
    border-color: #ffb94a;
    border-radius: .625rem;
    color: #fff;
    font-size: .95rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    height: 46px;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:active {
      background: #ff9e4a;
      border-color: #ff9e4a;
      box-shadow: none;
      color: #ffffff;
    }
  }
  .password--comfirm {
    margin-top: 2.25rem;
  }
  .link--custom {
    a {
      &:hover {
        color: #007bff;
      }
    }
  }
  .text--error {
    font-size: 13px;
    text-align: left;
    color: red;
    margin: -10px 0 -28px;
  }
}
