.wrapper--main {
  font: 400 15px/28px "Open Sans", sans-serif;
    letter-spacing: 0px;
  color: #8283a4;
  overflow: hidden;

  //  ============ Start: Common
  & > .content {
    background-size: cover;
    position: relative;
    z-index: 0;
    section {
      margin-bottom: 135px;
      .section--title-content {
        max-width: 60vw;
        margin: 0 auto 65px;
        .title {
          text-align: center;
          text-transform: uppercase;
          font-weight: 300;
          font-size: 35px;
          line-height: 55px;
          color: #000;
          position: relative;
          padding-bottom: 26px;
          margin-bottom: 33px;
          &:before {
            content: "";
            width: 40px;
            height: 2px;
            background: #000;
            position: absolute;
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
          }
        }
        .desc {
          text-align: center;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1rem;
          line-height: 35px;
          color: #000;
        }
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    section.training {
      margin-bottom: 0;
    }
  }
  img {
    max-width: 100%;
  }
  p {
    margin-bottom: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color:  inherit;
    text-decoration: none;
  }
  //  Transition
  .fade-enter-active, .fade-leave-active {
    transition: opacity .4s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  //  Transition Slider
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(200px);
    opacity: 0;
  }

  //  ============ End: Common

  // Banner
  .banner {
    padding-top: 85px;
    margin-bottom: 200px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      opacity: 0.85;
      // z-index: -1;
    }
    .content {
      top: 90px;
    }
    .title {
      .hero-title {
        color: #f8b448;
        font-size: 30px;
        height: 60px;
        // line-height: 60px;
        text-transform: capitalize;
        font-weight: 400;
      }
    }
    .desc {
      color: #fff;
      font-size: 18px;
      line-height: 45px;
      padding-bottom: 26px;
    }
    .register {
      font: 400 14px/27px "Open Sans", sans-serif;
      color: #000;
      background: #f8b448;
      text-transform: uppercase;
      letter-spacing: 2.1px;
      border-radius: 27px;
      border: 2px solid #f8b448;
      box-shadow: 5px 8.66px 20px 0px rgba(68, 84, 255, 0.078);
      padding: 13px 43px;
      position: relative;
      transition: all 400ms linear 0s;
      overflow: hidden;
      width: 254px;
      margin-bottom: 40px;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
    .image--introduce {
      width: 80%;
      margin: 0 auto;
    }
  }

  // introduce
  .introduce {
    .content {
      .items {
        &:hover {
          .bg--icon {
            background: #f8b448;
            svg {
              color: #fff;  
            }
            &::before {
              animation-name: hvr-ripple-out;
              opacity: 1;
            }
          }
        }
      }
      .bg--icon {
        height: 110px;
        width: 110px;
        background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
        border-radius: 50%;
        margin: auto;
        background-blend-mode: multiply;
        background-image: linear-gradient(to right, #10171d 0%, #0e1f2c 100%);
        transition: 0.4s;
        cursor: pointer;
        svg {
          margin-top: 30px;
          color: #f8e397;
        }
      }
      .title {
        font: 400 24px/55px "Open Sans", sans-serif;
        color: #000;
        text-transform: uppercase;
        padding: 27px 0px 12px;
      }
      .desc {
        line-height: 30px;
      }
    }
  }

  // tool
  .tool {
    color: #333;
    margin-bottom: 0!important;
    padding: 0px 0px 136px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    // &::before {
    //   content: "";
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   position: absolute;
    //   background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 50%, rgba(163, 167, 252, 0.8) 50%);
    // }
    .content {
      .marketing--section-image {
        height: 300px;
        width: 300px;
        background-size: cover;
        margin: 0 auto;
      }
      .left {
        .items {
          margin-bottom: 0.325rem;
        }
      }
      .right {
        .items {
          margin-bottom: 0.325rem;
        }
        .info {
          width: 100px;
          height: 100px;
          background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
          background-blend-mode: multiply;
          background-image: linear-gradient(to right, #10171d 0%, #0e1f2c 100%);
          text-align: center;
          font-size: 24px;
          line-height: 100px;
          border-radius: 50%;
          margin: 0 auto;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          left: -50px
        }
      }
      .icon {
        padding-right: 30px;
      }
      .text {
        p {
          font-weight: 600;
          margin-bottom: 0;
          font-size: 0.93rem;
          padding-bottom: 1rem;
        }
      }
    }
    .title--content {
      background: #f8b448;
      color: #fff;
      padding: 20px 15px;
      font-size: 22px;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 20px
    }
  }

  // why choose zinbee
  .why--choose {
    padding: 60px 0;
    background: #f7f7f7;
    .marketing--section {
      .marketing--section-image {
        background-size: 300px 130px;
        height: 130px;
        background-repeat: no-repeat;
      }
        .title {
          font-size: 1.25rem;
        }
    
    }
  }
  // utilities
  .utilities {
    margin-bottom: 0!important;
    .options {
      border-bottom: 1px solid #ebebeb;
      .first, .second {
        flex: 1;
      }
      .title {
        flex: 1;
        p {
          line-height: 92px;
          margin-bottom: 0;
          display: inline-block;
          cursor: pointer;
          transition: 0.4s;
          position: relative;
          &::before {
            content: "";
            width: 0px;
            height: 1px;
            bottom: 0px;
            left: 0;
            position: absolute;
            background: transparent;
            transition: all 0.5s linear;
          }
        }
        &.active, &:hover {
          p {
            color: #000;
            &::before {
              background: #000;
              width: 100%;
            }
          }
        }
      }
    }
    .content--options {
      padding: 0 3.5rem;
      max-height: 647px;
      overflow: hidden;
      &:hover {
        .action--slider-info {
          opacity: 1;
        }
      }
    }
    .action--slider-info {
      opacity: 0;
      transition: 0.3s;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      .action {
        cursor: pointer;
        background: #ccc;
        border-radius: 50%;
        color: #fff;
        transition: 0.4s;
        &:hover {
          background: #f8b448;
          color: #fff;
        }
      }
      .next {
        transform: rotate(180deg);
        padding: 4px 10px;
        svg {
          margin-top: 6px;
        }
      }
      .prev {
        padding: 4px 10px;
        svg {
          margin-top: 6px;
        }
      }
    }
  }

  // customer
  .customer {
    background: #f3f9ff;
    padding: 200px 0;
    .left {
      background-size: cover;
      background-repeat: no-repeat;
      .title--section {
        font-weight: 300;
        font-size: 35px;
        line-height: 55px;
        color: #000;
        position: relative;
        padding-bottom: 26px;
        margin-bottom: 33px;
        &::before {
          content: "";
          width: 40px;
          height: 2px;
          background: #000;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateX(0);
        }
      }
      .desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;
        color: #000;
      }
    }
    .slider {
      max-height: 381px;
      overflow: hidden;
      .items {
        max-width: 470px;
        // width: 100%;
        background: #fff;
        padding: 50px 50px 59px;
        box-shadow: 0px 5px 10px 0px rgba(26, 38, 74, 0.031);
        border-radius: 5px;    
        cursor: pointer;
        margin: 0 auto;
        .introduce--customer {
          img {
            height: 160px;
            width: 160px;
            border-radius: 50%;
            margin-right: 22px;
          }
          h5 {
            font-size: 18px;
            line-height: 25px;
            color: #000;
            font-weight: 400;
          }
          p {
            font-size: 16px;
            line-height: 24px;
            color: #c4c5de;
          }
        }
        .desc {
          padding-top: 28px;
        }
      }
    }
    .right {
      .next {
        transform: rotate(180deg);
      }
      .action--slider {
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        z-index: 5;
        .action {
          cursor: pointer;
          background: #ccc;
          border-radius: 50%;
          color: #fff;
          transition: 0.4s;
          &:hover {
            background: #f8b448;
            color: #fff;
          }
        }
        .next {
          margin-right: 30px;
          padding: 4px 10px;
          svg {
            margin-top: 6px;
          }
        }
        .prev {
          padding: 4px 10px;
          svg {
            margin-top: 6px;
          }
        }
      }
    }
  }

  // price
  .price {
    color: #fff;
    .item {
      background: linear-gradient(to right, #10171d 0%, #0e1f2c 100%)!important;
      box-shadow: 0px 1px 16px 2px rgba(26, 38, 74, 0.05);
      padding: 38px 0px 45px;
      border-radius: 5px;
      transition: all 0.6s linear;
      cursor: pointer;
      .heading, .price--month {
        transition: 0.4s;
        color: #fae59a;
      }
      &:hover {
        .heading, .price--month {
          color: #fff;
        }
        .register {
          background: #fae59a;
        }
      }
      .month, .price--month {
        font-size: 20px;
        line-height: 60px;
        font-weight: 500;
        letter-spacing: 1.4px;
        padding: 18px 0px 4px;
      }
      .plan-lists li {
        font-size: 15px;
        line-height: 40px;
        color: #fff;
        border-bottom: 1px solid #0e1f2c;
        transition: all 0.3s linear;
      }
      .register {
        font-size: 14px;
        margin: 0 25px;
        line-height: 41px;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2.1px;
        padding: 6px 65px;
        // background-image: linear-gradient(left, #a3a7fc 0%, #6bb4fa 100%);
        background: #fff;
        border-radius: 40px;
        margin-top: 27px;
        z-index: 1;
        transition: 0.4s;
      }
    }
  }

  // training
  .training {
    .slider--training {
      overflow: hidden;
      height: 740px;
      .img--training {
        background-size: cover;
        height: 100%;
      }
    }
  }

  // owner
  .owner {
    color: #fff;
    padding: 3rem 0;
    .title {
      font-size: 38px;
      line-height: 44px;
    }
    .desc {
      font-size: 22px;
      margin: 1rem 0;
    }
    .btn--live-chat {
      display: block;
      cursor: pointer;
      width: 350px;
      padding: 1rem 0;
      margin: 0 auto;
      text-align: center;
      border-radius: 40px;
      font-size: 20px;
      background: #f8b448;
    }
  }

}
  


//  =================================== RESPONSIVE

@media screen and (max-width: 1199px) {
  .wrapper--main {
    .introduce {
      .content {
        .title {
          font-size: 20px;
        }
      }
    }
    .utilities {
      .content--options {
        max-height: 557px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .wrapper--main {
    .training {
      .slider--training {
        height: 600px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .wrapper--main {
    > .content section .section--title-content {
      .title {
        font-size: 25px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        line-height: 40px;
      }
      .desc {
        font-size: 15px;
        line-height: 23px;
      }
    }
    .tool {
      &::before {
        background-image: -webkit-linear-gradient(top, rgba(107, 180, 250, 0.8) 50%, rgba(163, 167, 252, 0.8) 50%);
      }
      .content {
        .left {
          // padding-bottom: 70px;
          // padding-right: 0;
        }
        .right {
          padding-top: 10px;
          padding-left: 15px;
          .info {
            top: -30px;
            left: 50%;
            transform: translate(-50%, 0px);
          }
        }
        &.benefit {
          .right {
            order: 1;
            margin-bottom: 1rem;
          }
          .left {
            order: 2;
          }
        }
      }
    }    
    .utilities {
      .options {
        flex-direction: column;
      }
      .content--options {
        max-height: 425px;
      }
    }
    .training {
      .slider--training {
        height: 400px;
      }
    }
    .owner {
      .title {
        font-size: 28px;
      }
      .desc {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper--main {
    > .content section .section--title-content {
      max-width: 100vw;
      padding: 0 1rem;
    }
    .utilities {
      .content--options {
        padding: 0 1rem;
      }
    }
    .price {
      .items {
        margin-bottom: 1rem;
      }
    }
    .tool {
      .benefit {
        padding-right: 1rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .wrapper--main {
    > .content section .section--title-content {
      .title {
        font-size: 20px;
        line-height: 30px;
      }
      .desc {
        font-size: 15px;
        line-height: 23px;
      }
    }
    .utilities {
      .content--options {
        max-height: 356px;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .wrapper--main {
    .banner {
      .title {
        .hero-title {
          font-size: 21px;
        }
      }
      .desc {
        font-size: 15px;
        line-height: 25px;
      }
      .register {
        padding: 13px 11px;
        width: 190px;
      }
    }
    .customer {
      .slider {
        max-height: 441px;
        .introduce--customer {
          flex-direction: column;
          div:first-child {
            margin-bottom: 1rem;
          }
        }
        .items {
          .desc {
            padding-top: 0.875rem;
          }
        }
      }
    }
    .utilities {
      .content--options {
        max-height: 315px;
      }
    }
  }
}

@media screen and (max-width: 429px) {
  .wrapper--main {
    .utilities {
      .options {
        .first, .second {
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (max-width: 413px) {
  .wrapper--main {
    .customer .right .action--slider {
      top: 30px;
    }
  }
}