.modal--wrapper {
  background-color: rgba(153, 153, 153, 0.4);
  bottom: 0;
  font-family: "Open Sans", sans-serif;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  .modal--dialog {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    .modal--content {
      background-color: #fafafa;
      border-radius: .625rem;
      max-height: calc( 100vh - 10% );
      width: 56%;
      .header {}
      .body {
        .maintenance {
          cursor: not-allowed;
          opacity: .5;
        }
        .card {
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: .625rem;
          cursor: pointer;
          width: 32%;
          &:hover, &:focus, &:active, &:visited {
          > .alert--card {
            opacity: 1;
          }
        }
          .item {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            top: -10px;
            left: -10px;
            z-index: 9;
          }
          .earth {
            background-color: #ffb94a;
            border: 1px solid #ffb94a;
          }
          .detail {
            .text--bold {
              font-weight: 600;
            }
            .desc {
              font-size: 14px;
              span {
                color: #00c853;
              }
            }
            .action {
              width: 100%;
              button {
                &:hover, &:focus, &:active, &:visited {
                  box-shadow: none;
                  outline: 0;
                }
              }
            }
          }
          .alert--card {
            background-color: rgba(153, 153, 153, 0.8);
            color: #ff0000;
            width: 100%;
            height: 100%;
            border-radius: .625rem;
            z-index: 9;
            top: 0;
            left: 0;
            opacity: 0;
            font-size: 14px;
          }
        }
      }
      .footer {
        button {
          color: #ffffff;
          width: 50%;
          &:hover, &:focus, &:active, &:visited {
            box-shadow: none;
            outline: 0;
          }
        }
      }
    }
  }
}

/*Transition popup*/
.popup-enter-active, .popup-leave-active {
  transition: opacity 1s;
}
.popup-enter, .popup-leave-to {
  opacity: 0;
}
