.wrapper--header {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color:  inherit;
    text-decoration: none;
  }
  //  Transition
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(50px);
    opacity: 0;
  }

  // STYLE
  .content {
    overflow: hidden;
    color: #fff;
    &.active {
      height: 93px;
      background: #212121;
    }
  }
  .header-area {
    position: fixed;
    width: 100vw;
    z-index: 1000;
    padding: 1.25rem 3.125rem;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.18);
    background: #1f1e1e;
  }
  .nav--menu {
    .items--header {
      cursor: pointer;
      position: relative;
      color: #fff;
      padding: 0.325rem 1rem;
      &.try {
        color: #f8b448;
        border: 1px solid #f8b448;
        border-radius: 10px;
        transition: 0.4s;
      }
      // &::before {
      //   content: "";
      //   width: 100%;
      //   height: 2px;
      //   background: #fff;
      //   opacity: 0;
      //   position: absolute;
      //   left: 0;
      //   bottom: -2px;
      //   transition: all 0.4s linear 0s;
      //   transform: scale(0);
      // }
      &.active, &:hover {
        // border-bottom: 2px solid #fff;
        color: #fff;
        // &::before {
        //   content: "";
        //   opacity: 1;
        //   transform: scale(1);
        // }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .menu {
    display: none;
    svg {
      cursor: pointer;
    }
    .nav--menu-res {
      width: 250px;
      right: 0;
      top: 24px;
      li {
        background: #010206;
        cursor: pointer;
        padding: 0.625rem 0.9375rem;
        border-bottom: 1px solid #484848;
        .try {
          
        }
        &:last-child {
          border: 0;
        }
        &:hover {
          background: #f8b448;
          border-color: #f8b448;
          color: #333;
        }
      }
    }
  }
}


//  RESPONSIVE 

@media screen and (max-width: 980px) {
  .wrapper--header {
    .header {
      // flex-direction: column;
      .logo {
        margin-bottom: 1rem;
      }
      .nav--menu {
        display: none!important;
      }
      .menu {
        display: block;
      }
    }
  }
}
